{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="wrapper">
    <div class="error-login">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
    </div>
    <div class="header">
        <h3 class="sign-in">Log in</h3>
    </div>
    <div class="clear"></div>
    <form action="" method="post">{% csrf_token %}
        <div>
            {{ form.username }}
        </div>
        <div>
            {{ form.password }}
        </div>
        <div>
            <input type="submit" value="Log in"/>
        </div>
{#        <a class="forgot-label" href="{% url 'authapp:forgot_pass' %}">Forgot your password?</a>#}
        <a class="registr" href="{% url 'authapp:signup' %}">
            Регистрация
        </a>
    </form>
</div>
{% endblock %}
