{% extends 'base.html' %}

{% block content %}
<div class="wrapper wrap-reg">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    <div class="header">
        <h3 class="sign-in">Регистрация</h3>
    </div>
    <div class="clear"></div>
    <form action="{% url 'authapp:signup' %}" method="post">{% csrf_token %}
        <div class="form-wrap">
            <table>
                <tr>
                    <td>{{ form.first_name.label_tag }}</td>
                    <td>{{ form.first_name }}</td>
                </tr>
                <tr>
                    <td>{{ form.last_name.label_tag }}</td>
                    <td>{{ form.last_name }}</td>
                </tr>
                <tr>
                    <td>{{ form.middle_name.label_tag }}</td>
                    <td>{{ form.middle_name }}</td>
                </tr>
                <tr>
                    <td>{{ form.email.label_tag }}</td>
                    <td>{{ form.email }}</td>
                </tr>
                <tr>
                    <td>{{ form.password1.label_tag }}</td>
                    <td>{{ form.password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.password2.label_tag }}</td>
                    <td>{{ form.password2 }}</td>
                </tr>
            </table>
            
            <input class="input-reg" type="submit" value="Зарегистрироваться"/>
            <a class="registr log-in" href="{% url 'authapp:login' %}">
                Войти
            </a>
        </div>
        <div class="clear"></div>
    </form>
</div>
{% endblock %}